{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to our food delivery website! We are a team of passionate food enthusiasts who believe that everyone deserves easy access to delicious food, no matter where they are. Our mission is to provide a seamless and convenient food ordering experience that connects customers with their favorite local restaurants and food vendors.</p>
            <p>Our platform features a user-friendly interface that allows customers to browse menus, place orders, and track their deliveries in real-time. We work with a network of trusted and reliable restaurant partners to ensure that our customers have access to a wide variety of cuisines and dining options.</p>
            <p>At our food delivery website, we take pride in providing exceptional customer service and support. Our team is available around the clock to answer any questions or concerns you may have, and we are committed to resolving any issues that may arise with your order.</p>
            <p> Whether you're craving comfort food, a healthy meal, or something in between, we've got you covered. Thank you for choosing our food delivery website for your next meal.</p>
        </div>
    </div>
</div>
{% endblock content %}